$font-stack: 'Pacifico', sans-serif;
$primary-color: #6495ED;
$primary-font: 'Helvetica',sans-serif;

body{
  font-family: $primary-font;
}

.custom-font{
  font-family: $font-stack;
  color: $primary-color;
}

.c{
  font-family: 'Helvetica', sans-serif;
  color: $primary-color;
  padding-left: 10px;
}

.center-head{
  text-align: center;
  margin-bottom: -40px;
}

.head{
  font-size: 50px;
  margin-top: 0px;
  display: inline-block;
}

.container{
  margin: auto;
  margin-top: 40px;
  width: 80%;
  background-color: #f8f8f8;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  border-radius: 5px;
}

.boxy{
  list-style-position:inside;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px;
}

.container div:last-child{
  border-bottom: none;
}

#popup{
	width: 70%;
  height: 450px;
	margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #808080;
  border-radius: 4px;
}
.tab{
  padding: 5px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-bottom-style: hidden;
  margin-right: -5px;
}
#menu{
  margin-left: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
#menu div:first-child{
  border-left-style: hidden;
}
#menu div:last-child{
  border-top-right-radius: 5px;
}
.title{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  font: 30px $primary-font;
}

.center{
  margin: auto;
  width: 75%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
